[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
mixer = "*"
django-sass-processor = "*"
libsass = "*"
psycopg2 = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.10"
