[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
mixer = "*"
psycopg2 = "*"
django-environ = "*"
whitenoise = "*"
django-libsass = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
environ = "*"
django-safedelete = "*"
sendgrid = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
psycopg2-binary = "*"
flake8 = "*"
freezegun = "*"

[requires]
python_version = "3.10"
