{% extends 'basics/base.html' %}
{% block content %}
<div class="row py-2 border-bottom">
    <h5>Batch {{ batch.number }}</h5>
    <h3>Section {{ section.number }}</h3>
</div>
<div class="row">
    <div class="col-2 pt-4">
        <nav>
            <ul class="navbar-nav sidebar">
                <li>
                    <a href="{% url 'section_detail' batch_id=batch.id section_id=section.id %}" class="nav-link {% if current_tab == 'overview' %}sidebar-link-active border-start border-primary{% endif %}">Overview</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-10 pt-4 border-start">
        <div class="d-flex flex-row px-4">
            <h5>Overview</h5>
        </div>
        <div class="p-4">
            <div class="row">
                <div class="col-md-3 col-lg-3 my-2">
                    <h6>Start date</h6>
                    {{ batch.start_date }}
                </div>
                <div class="col-md-3 col-lg-3 my-2">
                    <h6>End date</h6>
                    {{ batch.end_date }}
                </div>
                <div class="col-md-4 col-lg-4 my-2">
                    <h6>Course schedule</h6>
                    {% for batch_schedule in batch_schedules %}
                        <div>
                            {{ batch_schedule.get_day_display }},
                            {{ batch_schedule.start_time|time:"h:i A" }}
                            - 
                            {{ batch_schedule.end_time|time:"h:i A" }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-lg-3 my-2">
                    <h6>Section capacity</h6>
                    {{ section.capacity }}
                </div>
                <div class="col-md-5 col-lg-3 my-2">
                    <h6>Section enrollment</h6>
                    Placeholder
                </div>
            </div>
        </div>
        <div class="d-flex flex-row p-4">
            <h5>Students enrolled in this section</h5>
        </div>
        <div class="d-flex flex-row justify-content-start p-4">
            <div>Table of students go here</div>
        </div>
    </div>
</div>
{% endblock %}