{% extends 'basics/base.html' %}
{% block content %}
<div class="row py-2 border-bottom">
    <h5>Batch {{ batch.number }}</h5>
    <h3>Section {{ section.number }}</h3>
</div>
<div class="row">
    <div class="col-2 pt-4 d-none d-md-block">
        <nav>
            <ul class="navbar-nav sidebar">
                <li>
                    <a href="{% url 'section_detail' batch_id=batch.id section_id=section.id %}" class="nav-link {% if current_tab == 'overview' %}sidebar-link-active border-start border-primary{% endif %}">Overview</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-10 p-4 border-start">
        <h5>Overview</h5>
        <div class="row mt-4">
            <div class="col-md-3 col-lg-3 my-2">
                <h6>Start date</h6>
                {{ batch.start_date }}
            </div>
            <div class="col-md-3 col-lg-3 my-2">
                <h6>End date</h6>
                {{ batch.end_date }}
            </div>
            <div class="col-md-6 col-lg-6 my-2">
                <h6>Course schedule</h6>
                {% for batch_schedule in batch_schedules %}
                    <div>
                        {{ batch_schedule.get_day_display }},
                        {{ batch_schedule.start_time|time:"h:i A" }}
                        - 
                        {{ batch_schedule.end_time|time:"h:i A" }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-lg-3 my-2">
                <h6>Section capacity</h6>
                {{ section.capacity }}
            </div>
            <div class="col-md-3 col-lg-3 my-2">
                <h6>Section enrollment</h6>
                {{ section.enrolment_set.count }}
            </div>
        </div>
        <div class="row mt-4">
            <h5 class="my-4">Students enrolled in this section</h5>
            {% if students.exists %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Slack invitation</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                    <tr>
                        <td>{{ student.first_name|title }}</td>
                        <td>{{ student.last_name|title }}</td>
                        <td>{{ student.email }}</td>
                        {% if student.slack_user_id %}
                            <td>Accepted</td>
                        {% else %}
                            <td>Has not accepted</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div>There aren't any students enrolled in this batch yet</div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}