{% extends '../base.html' %}
{% block content %}
<div class="row py-2 border-bottom">
    <h3>{{ batch.course.get_name_display }}</h3>
    <h4>Batch {{ batch.number }}</h4>
</div>
<nav class="my-1">
    <ul class="list-group list-group-horizontal navbar-nav topbar">
        <li>
            <a href="{% url 'swe_fundamentals_batch_detail' batch_id=batch.id %}" class="nav-link {% if current_tab == 'overview'%}topbar-link-active border-bottom border-primary{% endif %}">Overview</a>
        </li>
        <li>
            <a href="{% url 'basics_batch_registration_list' batch_id=batch.id %}" class="nav-link {% if current_tab == 'registrations'%}topbar-link-active border-bottom border-primary{% endif %}">Registrations</a>
        </li>
        <li>
            <a href="{% url 'basics_batch_enrolment_list' batch_id=batch.id %}" class="nav-link {% if current_tab == 'enrolments'%}topbar-link-active border-bottom border-primary{% endif %}">Enrolments</a>
        </li>
        <li>
            <a href="{% url 'basics_batch_section_list' batch_id=batch.id %}" class="nav-link {% if current_tab == 'sections'%}topbar-link-active border-bottom border-primary{% endif %}">Sections</a>
        </li>
    </ul>
</nav>
<div class="my-4 ps-2">
    {% block batch_content %}{% endblock %}
</div>
{% endblock %}