{% extends 'basics/base.html' %}
{% block overview_content %}
{% load crispy_forms_tags %}
<div class="d-flex flex-row justify-content-between px-4">
    <h5>Overview</h5>
    <a type="link" href="new/" role="button" class="btn btn-outline-primary btn-sm px-4">
        + Create batch
    </a>
        <form action="/staff/basics/batches/" method="post">
            {% csrf_token %}
            <button type="submit" value="send email">send email</button>
        </form>
</div>
<div class="d-flex flex-row justify-content-start p-4">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Batch</th>
                <th scope="col">Start date</th>
                <th scope="col">End date</th>
                <th scope="col">Course days</th>
                <th scope="col">No. of sections</th>
                <th scope="col">Capacity</th>
                <th scope="col">No. of enrollments</th>
            </tr>
        </thead>
        <tbody>
            {% for batch in batches %}
            <tr class="clickable-row" data-url="{% url 'batch_detail' batch_id=batch.id %}" role="button"> 
                <td>{{ batch.number }}</td>
                <td>{{ batch.start_date }}</td>
                <td>{{ batch.end_date }}</td>
                <td>Placeholder</td>
                <td>{{ batch.sections }}</td>
                <td>{{ batch.capacity }}</td>
                <td>Placeholder</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}