{% extends 'base.html' %}
{% block content %}
<div class="row py-2 border-bottom">
    <h3>Batch {{ batch.number }}</h3>
</div>
<div class="row">
    <div class="col-2 pt-4">
        <nav>
            <ul class="navbar-nav sidebar">
                <li>
                    <a href="{% url 'batch_view' batch_id=batch.id %}" class="nav-link {% if current_tab == 'overview'%}sidebar-link-active border-start border-primary{% endif %}">Overview</a>
                </li>
                <li>
                    <a href="{% url 'students_view' batch_id=batch.id %}" class="nav-link {% if current_tab == 'students'%}sidebar-link-active border-start border-primary{% endif %}">Students</a>
                </li>
                <li>
                    <a href="{% url 'sections_view' batch_id=batch.id %}" class="nav-link {% if current_tab == 'sections'%}sidebar-link-active border-start border-primary{% endif %}">Sections</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-10 pt-4 border-start">
        {% block batch_content %}{% endblock %}
    </div>
</div>
{% endblock %}