{% extends './base.html' %}
<div class="row py-2 border-bottom">
    <h3>Batch {{ batch.number }}</h3>
</div>
{% block batch_content %}
<div class="d-flex flex-row justify-content-between px-4">
    <h5>Sections</h5>
    <button type="button" class="btn btn-primary btn-sm px-4">Download .csv for Zoom</button>
</div>
<div class="p-4">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Section</th>
                <th scope="col">Capacity</th>
                <th scope="col">No. of students</th>
            </tr>
        </thead>
        <tbody>
            {% for section in sections %}
            <tr>
                <td>{{ section.number }}</td>
                <td>{{ section.capacity }}</td>
                <td>Placeholder till we enroll students</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}