{% extends './base.html' %}
<div class="row py-2 border-bottom">
    <h3>Batch {{ batch.number }}</h3>
</div>
{% block batch_content %}
<div class="d-flex flex-row justify-content-between px-4">
    <h5>Sections</h5>
    <button type="button" class="btn btn-primary btn-sm px-4">Download .csv for Zoom</button>
</div>
<div class="p-4">
    {% if sections.exists %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Section</th>
                <th scope="col">Capacity</th>
                <th scope="col">No. of students</th>
            </tr>
        </thead>
        <tbody>
            {% for section in sections %}
            <tr class="clickable-row" data-url="{% url 'section_detail' batch_id=batch.id section_id=section.id %}" role="button">
                <td>{{ section.number }}</td>
                <td>{{ section.capacity }}</td>
                <td>Placeholder till we enroll students</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div>There aren't any sections yet</div>
    {% endif %}
</div>
{% endblock %}