{% extends './base.html' %}
{% load humanize %}
{% block batch_content %}
<div class="row my-4">
    <div class="col-12">
        <h4>Overview</h4>
        <div class="my-3">
            <a
            type="link"
            href="{% url 'bootcamp_batch_edit' batch_id=batch.id %}"
            role="button"
            class="btn btn-outline-primary btn-sm px-4">
                Edit batch details
            </a>
        </div>
        <div class="row">
            <div class="col-md-5 col-lg-3 my-2">
                <h6>Start date</h6>
                {{ batch.start_date }}
            </div>
            <div class="col-md-5 col-lg-3 my-2">
                <h6>End date</h6>
                {{ batch.end_date }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 my-2">
                <h6>Type</h6>
                {{ batch.get_type_display }}
            </div>
            <div class="col-md-6 col-lg-3 my-2">
                <h6>Course fee per student</h6>
                {{ batch.price|intcomma }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-lg-3 my-2">
                <h6>Sections</h6>
                {{ batch.sections }}
            </div>
            <div class="col-md-5 col-lg-3 my-2">
                <h6>Section capacity</h6>
                {{ section_capacity }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-lg-3 my-2">
                <h6>Batch capacity</h6>
                {{ batch.capacity }}
            </div>
        </div>
        <div class="mt-5"><h5>Schedule</h5></div>
        <div class="row mt-4">
            <div class="col-md-3 col-lg-2">
                <h6>Day</h6>
            </div>
            <div class="col-md-3 col-lg-2">
                <h6>Start time</h6>
            </div>
            <div class="col-md-3 col-lg-2">
                <h6>End time</h6>
            </div>
        </div>
        {% for batch_schedule in batch_schedules %}
        <div id="batch-schedule-formset-row">
            <div class="row my-2">
                <div class="col-sm-4 col-md-3 col-lg-2">
                    {{ batch_schedule.get_day_display }}
                </div>
                <div class="col-sm-4 col-md-3 col-lg-2">
                    {{ batch_schedule.start_time|time:"h:i A" }}
                </div>
                <div class="col-sm-4 col-md-3 col-lg-2">
                    {{ batch_schedule.end_time|time:"h:i A" }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="row mt-4 pt-4">
    <a href="{% url 'bootcamp_batch_list' %}">Back to batches</a>
</div>
{% endblock %}