{% extends 'course/bootcamp/base.html' %}
{% block overview_content %}
{% load humanize %}
{% load crispy_forms_tags %}
<div class="row">
    <div class="col-10 my-2">
        <a type="link" href="{% url 'bootcamp_batch_new' %}" role="button" class="btn btn-outline-primary btn-sm px-4">
            + Batch
        </a>
    </div>
</div>
<div class="table-responsive my-3">
    {% if batches %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Batch</th>
                    <th scope="col">Start date</th>
                    <th scope="col">End date</th>
                    <th scope="col">Course days</th>
                    <th scope="col">No. of sections</th>
                    <th scope="col">Capacity</th>
                    <th scope="col">Fee per student</th>
                </tr>
            </thead>
            <tbody>
                {% for batch in batches %}
                <tr class="clickable-row" data-url="{% url 'bootcamp_batch_detail' batch_id=batch.id %}" role="button">
                    <td>{{ batch.get_type_display }}</td>
                    <td>{{ batch.number }}</td>
                    <td>{{ batch.start_date }}</td>
                    <td>{{ batch.end_date }}</td>
                    <td>
                        {% for batch_schedule in batch.batchschedule_set.all %}
                        <div>
                            {{ batch_schedule.get_day_display }},
                            {{ batch_schedule.start_time|time:"h:i A" }}
                            - 
                            {{ batch_schedule.end_time|time:"h:i A" }}
                        </div>
                        {% endfor %}
                    </td>
                    <td>{{ batch.sections }}</td>
                    <td>{{ batch.capacity }}</td>
                    <td>{{ batch.price|intcomma }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div>There aren't any bootcamp batches yet</div>
    {% endif %}
</div>
{% endblock %}