{% extends 'base.html' %}
{% block content %}
<div class="row my-5 py-5">
    <div class="col-md-6 offset-md-3 bg-white border border-primary rounded p-5 my-5">
        <h3>Log in</h3>
        <form action="/staff/login/" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="my-2">
                    {{ field }}
                    <small class="text-danger">
                        {{ field.errors | striptags }}
                    </small>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary my-4">Log in</button>
        </form>    
    </div>
</div>
{% endblock %}