{% extends './base.html' %}

{% block jumbotron_content %}
<div>You've registered for</div>
{% endblock %}

{% block progress_bar %}
<div class="progress-bar-item">
    <li class="my-2">Course dates</li>
</div>
<br>
<div class="progress-bar-item">
    <li class="my-2">About you</li>
</div>
<br>
<div class="progress-bar-item">
    <li class="my-2">Payment</li>
</div>
<br>
<div class="progress-bar-item">
    <li class="my-2 text-primary fw-bold">Confirmation</li>
</div>
{% endblock %}

{% block form_subheader %}
<h3>Thanks for registering for Coding Basics!</h3>
{% endblock %}

{% block form_content %}
<p>We have sent you a confirmation email.</p>
<p>Join us on Slack before the course begins - make sure you sign up or log in with <b>placeholder@email.com</b></p>
<p>See you in class on XX XXX XXXX at XX:XX XX. Look out for more instructions as the course date approaches.</p>
{% endblock %}