{% extends './base.html' %}

{% block jumbotron_content %}
<div>You've registered for</div>
{% endblock %}

{% block progress_bar %}
<div class="progress-bar-item">
    <li class="my-2">Course dates</li>
</div>
<br>
<div class="progress-bar-item">
    <li class="my-2">About you</li>
</div>
<br>
<div class="progress-bar-item">
    <li class="my-2">Payment</li>
</div>
<br>
<div class="progress-bar-item">
    <li class="my-2 text-primary fw-bold">Confirmation</li>
</div>
{% endblock %}

{% block form_subheader %}
<h3>Thanks for registering for Coding Basics!</h3>
{% endblock %}

{% block form_content %}
<p>Join us on Slack before the course begins - make sure you sign up or log in with <b>{{ registration.email }}</b>. The Slack invitation link will also be sent to you in your registration confirmation email.</p>
<p>Look out for more instructions over email as the course date approaches.</p>
<p>See you in class on {{ registration.batch.start_date }}! You can close this window now.</p>
{% endblock %}