{% extends './base.html' %}
{% load crispy_forms_tags %}
{% block coupon_content %}
<form id="edit-coupon-form" action="{% url 'coupon_edit' coupon_id=coupon.id %}" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-10">
            <h4>Coupon - {{ coupon.code }}</h4>
        </div>
        <div class="col-4 d-none d-md-block">
            <a type="link" href="{% url 'coupon_detail' coupon_id=coupon.id %}" role="button" class="btn btn-outline-secondary btn-sm px-4">Cancel</a>
            <button class="btn btn-primary btn-sm px-4" type="submit">Save changes</button>
        </div>
        <div class="col-12 my-3 d-md-none">
            <a type="link" href="{% url 'coupon_detail' coupon_id=coupon.id %}" role="button" class="btn btn-outline-secondary btn-sm px-4">Cancel</a>
            <button class="btn btn-primary btn-sm px-4" type="submit">Save changes</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-3 my-3">
            {{ coupon_form.start_date|as_crispy_field }}
        </div>
        <div class="col-md-6 col-lg-3 my-3">
            {{ coupon_form.end_date|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-3 my-3">
            {{ coupon_form.effects|as_crispy_field }}
        </div>
        <div class="col-md-6 col-lg-3 my-3">
            {{ coupon_form.description|as_crispy_field }}
        </div>
    </div>
</form>
{% endblock %}
