{% extends './base.html' %}
{% block coupon_content %}
<div class="row p-4">
    <div class="col-md-10 col-sm-12">
        <h4>Overview</h4>
        <div class="d-md-none my-3">
            <a type="link" href="{% url 'coupon_effect_new' %}" class="btn btn-outline-primary btn-sm my-1">
                + Coupon effect
            </a>
            <a type="link" href="{% url 'coupon_new' %}" class="btn btn-outline-primary btn-sm my-1">
                + Coupon
            </a>
        </div>
        {% if coupons.exists %}
        <table class="table table-hover my-4">
            <thead>
                <tr>
                    <th scope="col">Start date</th>
                    <th scope="col">End date</th>
                    <th scope="col">Description</th>
                    <th scope="col">Effects</th>
                    <th scope="col">Code</th>
                </tr>
            </thead>
            <tbody>
                {% for coupon in coupons %}
                <tr class="clickable-row" data-url="{% url 'coupon_detail' coupon_id=coupon.id %}" role="button">
                    <td>{{ coupon.start_date|date:"d M, Y" }}</td>
                    <td>{{ coupon.end_date|date:"d M, Y" }}</td>
                    <td>{{ coupon.description|linebreaks }}</td>
                    <td>{{ coupon.get_effects_display }}</td>
                    <td>{{ coupon.code }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div>There aren't any active coupons at the moment</div>
        {% endif %}
    </div>
    <div class="col-md-2 d-none d-md-block border-start px-5">
        <div class="row">
            <a type="link" href="{% url 'coupon_effect_new' %}" class="btn btn-outline-primary btn-sm my-1">
                + Coupon effect
            </a>
        </div>
        <div class="row">
            <a type="link" href="{% url 'coupon_new' %}" class="btn btn-outline-primary btn-sm my-1">
                + Coupon
            </a>
        </div>
        <div class="row">
            <a type="link" href="{% url 'coupon_csv_upload' %}" class="btn btn-outline-primary btn-sm my-1">
                CSV Upload
            </a>
        </div>
    </div>
</div>
{% endblock %}