{% extends 'basics/batch/base.html' %}
{% block batch_content %}
<div class="row">
  <div class="col-12">
    <h4>Enrolments</h4>
    <a
    type="link"
    href="{% url 'basics_batch_create_zoom_breakout_csv' batch_id=batch.id %}"
    role="button"
    class="btn btn-primary btn-sm px-4 my-2"
    >
    Download .csv
    </a>
  </div>
  {% if enrolments.exists %}
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Section</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Slack invitation</th>
          <th scope="col">Status</th>
          <th scope="col">Enrolled on</th>
        </tr>
      </thead>
      <tbody>
        {% for enrolment in enrolments %}
        <tr>
          <td>{{ enrolment.section.number }}</td>
          <td>{{ enrolment.registration.first_name|title }} {{ enrolment.registration.last_name|title }}</td>
          <td>{{ enrolment.registration.email }}</td>
          {% if enrolment.student_user.slack_user_id %}
          <td>Accepted</td>
          {% else %}
          <td>Has not accepted</td>
          {% endif %}
          <td>{{ enrolment.get_status_display }}</td>
          <td>{{ enrolment.created_at|date:"d M, Y" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <div>There aren't any students enrolled in this batch yet</div>
  {% endif %}
</div>
{% endblock %}
