{% extends 'basics/batch/base.html' %}
<div class="row py-2 border-bottom">
    <h3>Batch {{ batch.number }}</h3>
</div>
{% block batch_content %}
<div class="d-flex flex-row justify-content-between px-4">
    <h5>Enrolments</h5>
</div>
<div class="d-flex flex-row justify-content-start p-4">
    {% if enrolments.exists %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Section</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Email</th>
                <th scope="col">Slack invitation</th>
                <th scope="col">Referral code</th>
                <th scope="col">Enrolled at</th>
            </tr>
        </thead>
        <tbody>
            {% for enrolment in enrolments %}
            <tr>
                <td>{{ enrolment.section.number }}</td>
                <td>{{ enrolment.registration.first_name|title }}</td>
                <td>{{ enrolment.registration.last_name|title }}</td>
                <td>{{ enrolment.registration.email }}</td>
                {% if enrolment.student_user.slack_user_id %}
                    <td>Accepted</td>
                {% else %}
                    <td>Has not accepted</td>
                {% endif %}
                {% if enrolment.registration.referral_code %}
                    <td>{{ enrolment.registration.referral_code }}</td>
                {% else %}
                    <td>-</td>
                {% endif %}
                <td>{{ enrolment.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div>There aren't any students enrolled in this batch yet</div>
    {% endif %}
</div>
{% endblock %}